<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fit.model.dao.UserDao">
	<!-- 이 방식으로는 커리큘럼 이름을 가지고 올수 없다. -->
	<!-- <select id="selectAll" resultType="User"> SELECT id, password, name, 
		curriculum_code as curriculumCode FROM users </select> -->

	<select id="selectAll" resultType="User">
		SELECT *
		FROM users
	</select>
	<!-- 검색기능  -->
	<select id="search" resultType="User" parameterType="SearchCondition">
		SELECT id, name
		FROM users
		<!-- 검색 조건 (동적쿼리)-->
		<if test="key != 'none'">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<!-- 어떤 기준으로 어떤 방향으로 정렬 -->
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>

	<insert id="insertUser" parameterType="User">
		INSERT INTO
		users(id,name,password, birthday)
		VALUES (#{id},#{name}, #{password},
		#{birthday})
	</insert>

	<select id="selectOne" parameterType="String" resultType="User">
		SELECT
		*
		FROM users
		WHERE id = #{id}
	</select>


</mapper>